[submodule "Vendor/StreamingKit"]
	path = Vendor/StreamingKit
	url = https://github.com/tumtumtum/StreamingKit.git
[submodule "Vendor/ObjectiveDDP"]
	path = Vendor/ObjectiveDDP
	url = https://github.com/boundsj/ObjectiveDDP.git
[submodule "Vendor/MumbleKit"]
	path = Vendor/MumbleKit
	url = https://github.com/mumble-voip/mumblekit.git
